html, body, ui-view, #map {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #E9E5DC;
  color: rgba(0,0,0,.75);
}
body > header {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  background: #fff;
  color: #47CA41;
  box-shadow: 0 2px 1px rgba(0,0,0,.1);
  transition: left linear .1s;
}
body.menu-active > header {
  left: 230px;
}
body > header > h1 {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 60px 10px;
}
h2 {
  font-size: 36px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.checkin-container {
  text-align: center;
}

.loading {
  position:fixed;
  top:0;
  left:0;
  background:#fff;
  text-align:center;
  height: 100%;
  width: 100%;
}
.loading img {
  width:50%;
  max-width:200px;
  height: auto;
  position:relative;
  top: 30%;
}
.loading.ng-hide {
  top: -100%;
  transition: .5s linear all;
}
.success.ng-animate {
  transition: .25s linear all;
}
.success {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding:20px;
  text-align: center;
  border-bottom: 3px solid #d6e9c6;
  color: #3c763d;
  transition: all linear .5s;
  background-color: #dff0d8;
  z-index: 2;
}
.success.ng-hide {
  bottom: -100%;
}
.success h2 {
  padding: 0;
  margin: 0;
}
.success .glyphicon {
  margin-right: .33em;
}

@media (max-width: 767px) {
  .success h2 .glyphicon {
    display:block;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:.25em;
    font-size:1.75em;
    background:rgba(255,255,255,.5);
    width:1.5em;
    height: 1.5em;
    padding:.15em .1em 0 0;
    border:3px solid;
    box-sizing:border-box;
    border-radius:1em;
    overflow:hidden;
    text-align:center;

  }
}
.page-content {
  padding: 10px 20px;
}
.filter-bar {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}
